[core]
  pager = delta
  editor = nvim
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true # use n and N to move between diff sections
  side-by-side = true
[merge]
  conflictstyle = diff3
[diff]
  colorMoved = default
[user]
  name = Christian Valenzuela
  email = 41182258+chris-av@users.noreply.github.com
[pager]
  branch = false
[init]
  defaultBranch = main
[color]
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto
  ui = auto
[alias]
  graph = log --pretty=format:\"%Cgreen%h %Creset%cd %Cblue[%cn] %Creset%s%C(yellow)%d%C(reset)\" --graph --date=relative --decorate --all
  graph2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
  llog = log --name-status --pretty=format:\"%C(red)%h %C(reset)(%cd) %C(green)%an %Creset%s %C(yellow)%d%Creset\" --date=relative
  slog = log --date=format:\"%Y-%m-%d %I:%M:%S %p\" --pretty=format:\"%C(red)%h %C(reset) [%C(yellow)%cd]%C(reset) %C(blue)%an %C(reset)%s\"
  whoadded = log --diff-filter=A
  compare = diff ..main --
  ll = branch -vv --sort=committerdate
  lsm = ls-files -m
  lsu = ls-files -o --exclude-standard
[credential]
	helper = cache
[push]
  default = current
  autoSetUpRemote = true
[fetch]
  prune = true
