.DS_Store
packer_compiled.lua
vim/.vim/autoload/*

# mako
# scripts should dynamically update the config file, based on profile
mako/.config/mako/config 

# kitty
kitty.conf.bak
kitty/**/tmp/*

# waybar
waybar/**/tmp/*


# vim
vim/**/plugged
.netrwhist

# ignore everything in wallpapers except the info file
wallpapers/wallpapers/*
!wallpapers/wallpapers/_wallpapers.*


# ignoring custom env vars
env/env/*

