# use gnu ls command
alias ls='ls -GA --color=auto --group-directories-first'
alias l='ls -GAhlo --time-style=long-iso --color=auto --group-directories-first'
alias lsd='ls -GA --color=auto --group-directories-first --directory *(D/)'

alias listusers='cut -d: -f1 /etc/passwd | sort | uniq | pr -t -4'
alias listgroups='cut -d: -f1 /etc/group | sort | uniq | pr -t -4'

if command -v fd 2>&1 >/dev/null; then
  # show hidden files
  # dont use gitignore to determine what's shown by fd
  # rely only on my ~/.config/fd/ignore file
  alias fd='fd -H --no-ignore-vcs'
fi

# Always enable colored `grep` output
# Note: `GREP_OPTIONS="--color=auto"` is deprecated, hence the alias usage.
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'





unameOut="$(uname -s)"


if [[ "$unameOut" == "Darwin" ]]; then 
  # Google Chrome
  alias chrome='/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome'

  # IP addresses
  # alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
  alias localip="ipconfig getifaddr en0"
  alias ip="
  echo '\nlocalip : \t$(localip)
  ipv4 : \t\t$(dig -4 TXT +short o-o.myaddr.l.google.com @ns1.google.com | tr -d '"')
  ipv6 : \t\t$(dig -6 TXT +short o-o.myaddr.l.google.com @ns1.google.com | tr -d '"')
  '
  "
  alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

  alias listdev="ifconfig | grep broadcast | arp -a"

  # Recursively delete `.DS_Store` files
  alias cleanup_ds="find . -type f -name '*.DS_Store' -ls -delete"

  # Empty the Trash on all mounted volumes and the main HDD.
  # Also, clear Apple’s System Logs to improve shell startup speed.
  # Finally, clear download history from quarantine. https://mths.be/bum
  alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl; sqlite3 ~/Library/Preferences/com.apple.LaunchServices.QuarantineEventsV* 'delete from LSQuarantineEvent'"

  alias date="date '+%A, %x, %r'"

fi

if [[ "$unameOut" == "Linux" ]];then
  alias wlc=wl-copy
  alias wlp=wl-paste
fi

# command for showing images in the terminal
if [[ "$TERM" == "xterm-kitty" ]]; then
  alias icat="kitten icat"
fi
