snippet fun "function"
	function ${1:name}(${2:args}) {
		return ${0:body};
	}

snippet const "destructure []"
	const [${0:elems}] = ${1:obj}

snippet const "destructure {}"
	const {${0:elems}} = ${1:obj}
