/* Dark */
* {
    border: none;
    border-radius: 0;
    font-family: "Hack Nerd Font";
    font-weight: bold;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #cdd6f4;
}

tooltip {
    background: #1e1e2e;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

#workspaces button {
    padding: 5px;
    color: #313244;
}

#workspaces button.active {
    color: #a6adc8;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
}

#workspaces button:hover {
    background: #11111b;
    color: #cdd6f4;
}

#custom-power_profile,
#custom-weather,
#custom-recorder,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#workspaces,
#tray,
#backlight,
#keyboard-state {
    background: #1e1e2e;
    opacity: 0.8;
    padding: 0px 10px;
    border: 1px solid #181825;
}

#temperature.critical {
    color: #eba0ac;
}

#workspaces {
    background: #1e1e2e;
    padding-left: 5px;
}

#custom-power_profile {
    color: #a6e3a1;
}

#clock {
    color: #fab387;
}

#network {
    color: #f9e2af;
}

#bluetooth {
    color: #89b4fa;
} 

#pulseaudio {
    color: #89b4fa;
}

#pulseaudio.microphone {
    color: #cba6f7;
}

#battery {
    color: #a6e3a1;
    margin-right: 10px;
}


#custom-recorder {
    margin-right: 10px;
}

#custom-recorder.enabled {
    color: red;
}
